*{
	margin:0 auto;
}



body{
	background-color:#faf8f3;
}


header{
	width:100%;
	height:127px;
	background-image:url(../img/headerbackground.png);
	background-repeat:repeat-x;
}

#header{
	max-width:1008px;
	width:100%;
	height:auto;
	margin:0px auto;
}


.logo{
	width:145px;
	height:145px;
	float:left;
	position:absolute;
	background-color:#8c411c;
	border-radius: 100px;
	margin-top:40px;
	font-family:Georgia;
	font-size:60px;
	font-weight:bold;
	color:#FFFFFF;
	box-shadow: 0px 0px 0px 12px rgba(255, 255, 255, 0.3);
}

.logotext{
	margin-left:14px;
	margin-top:25px;
	float:left;
}

.tagline{
	width:20%;
	height:auto;
	float:left;
	font-family:Georgia;
	font-size:17px;
	font-style:italic;
	color:#FFFFFF;
	margin:60px 0px 0px 175px;
}



nav{
	width:auto;
	height:auto;
	font-family:Georgia;
	font-size:14px;
	color:#FFFFFF;
	margin-left:270px;
	margin-top:60px;
	float:left;
}

nav li{
	float:left;
	list-style:none;

}

nav a{
	color:#FFFFFF;
	padding:0px 15px 0px 0px;
	position:relative;
}

nav a:link{
	text-decoration:none;
}

nav a:hover{
	color:#FF9900;
}



section{
	width:100%;
	height:433px;
	background-image:url(../img/jquerybackground.jpg);
	background-repeat:repeat-x;
}


#jquerypart{
	max-width:1066px;
	width:100%;
	margin:0px auto;
}


h2{
	font-size:28px;
	padding-bottom:10px;
	font-family:"Kelson Sans BG", "Kelson Sans", "Kelson Sans RU";
}


article {
	width:100%;
	height:1050px;
	background-image:url(../img/article.jpg);
	background-repeat:repeat-x;
	margin:0px auto;
}

.column{
	max-width:1008px;
	width:100%;
	margin:0px auto;
	padding-top:7%;
}

.cantrust{
	width:42%;
	font-family:Georgia;
	float:left;
	color:#FFFFFF;
	font-size:17px;
}

.feedback{
	width:40%;
	float:left;
	margin-left:15%;
	text-align:center;
	font-size:35px;
	line-height:45px;
	padding-top:35px;
	color:#FFFFFF;
	font-family:Gabriola;
	font-style:italic;
}

.sublink{
	font-family:Kokila;
	font-size:22px;
	padding-top:35px;
	color:#FF9900;
}

.sublink a{
	color:#FF9900;

}

.sublink a:link{
	text-decoration:none;
}

.sublink a:hover{
	text-decoration:underline;
}


h3{
	font-size:32px;
	font-family:Kokila;
	color:#FF9900;
}


.ourclient{
	max-width:1008px;
	width:100%;
	color:#818181;
	float:left;
	text-transform:uppercase;
	font-size:22px;
	padding-top:35px;
	font-family:"Tw Cen MT Condensed";
	margin:0px auto;
}

.hr{
	background-image:url(../img/padding.png);
	width:1px;
	height:2px;
	background-repeat:repeat-x;
	width:100%;
	text-align:center;
	float:left;
	margin-top:5px;
	max-width:1000px;
}

.hrbuttom{
	background-image:url(../img/padding.png);
	width:1px;
	height:2px;
	background-repeat:repeat-x;
	width:100%;
	text-align:center;
	float:left;
	margin-top:5px;
	max-width:1000px;
}


.companylogo{
	max-width:1008px;
	width:100%;
	float:left;
}

.companylogo a:hover{
	opacity: 0.3;
	 filter: alpha(opacity = 40); 
}


.companylogo li{
	float:left;
	margin-left:2%;
	list-style:none;
	padding:10px 2px 0px 0px;
}

.others{
	width:100%;
	max-width:1008px;
	
}

h5{
	font-family:"Kelson Sans BG", "Kelson Sans", "Kelson Sans RU";
	font-size:25px;
	color:#FFFFFF;
	margin-bottom:12px;
	text-transform:uppercase;
	}
.thehistory{
	width:29%;
	font-family:Californian FB;
	font-size:18px;
	color:#FFFFFF;
	float:left;
	margin-top:7%;
}

.ourservices{
	width:29%;
	font-family:Californian FB;
	font-size:18px;
	color:#FFFFFF;
	margin-left:6%;
	float:left;
	margin-top:7%;
}


.workwithus{
	width:30%;
	font-family:Californian FB;
	font-size:18px;
	color:#FFFFFF;
	margin-left:6%;
	float:left;
	margin-top:7%;
}


.readmore{
	width:110px;
	height:33px;
	background-color:#8c411c;
	float:left;
	font-family:Georgia;
	font-size:16px;
	margin-top:15px;
}

.readmore a:link{
	text-decoration:none;
}

.readmore a{
	color:#FFFFFF;
}

.readmore a:hover{
	color:#e79c78;
}


.free{
	width:732px;
	height:168px;
	background-image:url(../img/free.png);
	background-repeat:no-repeat;
	float:left;
	margin-top:8%;
	margin-left:12%;
}

.freetext{
	padding-top:8%;
	font-family:Georgia;
	font-size:35px;
	font-weight:bold;
	text-align:center;
}


.talkwithyou{
	margin-left:56%;
	font-family:Bradley Hand ITC;
	font-size:18px;
	color:#6d6c6b;
}


footer{
	width:100%;
	height:413px;
	background-image:url(../img/footer1.jpg);
	background-repeat:repeat-x;
	
}

.ourbloglivewoconnectwith{
	max-width:1008px;
	width:100%;
	margin:0px auto;

}


h6{
	font-size:28px;
	font-family:"Tw Cen MT Condensed";
	text-transform:uppercase;
	margin-bottom:8px;
}

h7{
	font-size:18px;
	font-family:"Tw Cen MT Condensed";
	text-transform:uppercase;
	font-weight:bold;
	
}

h8{
	font-size:25px;
	font-family:"Tw Cen MT Condensed";
	text-transform:uppercase;
	font-weight:bold;
	margin-left:24px;
}



.weblog{
	width:30%;
	font-family:Californian FB;
	font-size:16px;
	color:#383737;
	float:left;
	margin-top:1%;
}


.findingfromthefiled{
	width:100%;
	font-family:Californian FB;
	font-size:16px;
	color:#383737;
	float:left;
	margin-top:10%;
}


.readcontitute{
	font-family:Californian FB;
	font-size:17px;
	font-style:italic;
	margin-top:3%;
}

.readcontitute a:link{
	text-decoration:none;
}

.readcontitute a{
	color:#8c411c;
}

.readcontitute a:hover{
	text-decoration:underline;
}




.hr1{
	background-image:url(../img/whtiepadding.png);
	width:1px;
	height:2px;
	background-repeat:repeat-x;
	width:100%;
	text-align:center;
	float:left;
	margin-top:25px;
}


.welive{
	width:30%;
	font-family:Californian FB;
	font-size:16px;
	color:#383737;
	float:left;
	margin-left:3%;
	margin-top:1%;
}

.readcontitute1{
	font-family:Californian FB;
	font-size:17px;
	font-style:italic;
	margin-top:5%;
}

.readcontitute1 a:link{
	text-decoration:none;
}

.readcontitute1 a{
	color:#8c411c;
}

.readcontitute1 a:hover{
	text-decoration:underline;
}



.conactwithus{
	width:30%;
	font-family:Californian FB;
	font-size:16px;
	color:#383737;
	float:left;
	margin-left:6%;
	margin-top:1%;
}

.submit{
	width:110px;
	height:33px;
	margin-right:40px;
	background-color:#8c411c;
	border-radius: 4px;
	float:right;
	margin-top:5px;
}

.submit a:link{
	text-decoration:none;
}

.submit a {
	color:#FFFFFF;
}

.submittext{
	padding:6px 0px 0px 35px;
}

#copyright{
	width:100%;
	height:127px;
	background-image:url(../img/copyright.jpg);
	background-repeat:repeat-x;
	text-align:center;
	color:#aaaaaa;
	font-size:20px;
}

#aboutbase{
	width:100%;
	height:580px;
	background-image:url(../img/aboutbasae.jpg);
	background-repeat:repeat-x;
	
}

.abouth{
	font-family:"Accidental Presidency";
	font-size:50px;
	color:#4a4949;
	text-transform:uppercase;
	width:auto;
	text-align:center;
	padding-top:15px;
}


.discription{
	width:auto;
	color:#555454;
	text-align:center;
	font-family:Georgia;
}

.centerpart{
	width:960px;
	height:18px;
	margin-left:3%;
	margin-top:4%;
}


#aboutusdiv{
	max-width:1066px;
	width:100%;
	height:600px;
	margin:0px auto;
}

.threetag{
	width:100%;
	max-width:1008px;
	float:left;
	margin-top:30px;
	font-size:17px;
	color:#737373;
}

.plan{
	width:28%;
	float:left;
	text-align:justify;
	margin-left:4%;
}

.create{
	width:28%;
	margin-left:6%;
	float:left;
	text-align:center;
}

.deliver{
	width:28%;
	margin-left:5%;
	float:left;
	text-align:right;
}

.heading{
	font-family:"Accidental Presidency";
	font-size:55px;
	width:auto;
	text-transform:uppercase;
}

.heading1{
	font-family:"Accidental Presidency";
	font-size:55px;
	width:auto;
	text-transform:uppercase;
	text-align:center;
}

.heading2{
	font-family:"Accidental Presidency";
	font-size:55px;
	float:left;
	margin-left:55%;
	width:auto;
	text-transform:uppercase;
}

.readmoreicons{
	width:100%;
	text-align:center;
	margin:0px auto;
	position:absolute;
	margin-top:-52px;
}

#articleabout {
	width:100%;
	height:1322px;
	background-image:url(../img/about_secondbase.jpg);
	background-repeat:repeat-x;
	margin:0px auto;
}

.ourexpert{
	width:100%;
	float:left;
	margin-top:3%;
}

.ourexpertraw{
	width:1008px;
	margin:0px auto;
	height:200px;
}

.secondraws{
	width:1008px;
	margin:0px auto;
	height:200px;
	margin-top:5%;
}


.firstexpert{
	width:25%;
	height:auto;
	color:#FFF;
}

.firstexpert li{
	float:left;
	list-style:none;
	padding:0px 2px 0px 0px; 
}



.secondexpert{
	width:25%;
	height:auto;
	color:#FFF;
	float:left;
	margin-left:11%;
	margin-top:-4%;
}


.img{
	width:auto;
	height:auto;
	float:left;
}

.socialsite{
	width:100px;
	height:auto;
	background-color:#272727;
}



.headering{
	font-family:"Lao UI";
	font-size:20px;
	font-weight:bold;
	padding-left:15px;
	color:#FFF;
	float:left;
	width:auto;
	height:auto;
	margin-top:-8px;
	text-transform:uppercase;
}

.firstexpertdetails{
	width:135px;
	padding-left:15px;
	float:left;
	margin-top:-10px;
	text-align:left;
}



.service{
	width:100%;
	font-family:Vani;
	font-size:30px;
	padding-top:5%;
	font-style:italic;
	text-align:center;
	color:#636362;
}


#servicebase{
	width:100%;
	height:416px;
	background-image:url(../img/aboutbasae.jpg);
	background-repeat:repeat-x;
	
}


.mobileapps{
	width:42%;
	font-family:Georgia;
	float:left;
	color:#FFFFFF;
	font-size:17px;
}

.webservice{
	width:42%;
	font-family:Georgia;
	float:left;
	margin-left:12%;
	text-align:right;
	color:#FFFFFF;
	font-size:17px;
}


.mobileapps1{
	width:42%;
	font-family:Georgia;
	float:left;
	margin-top:8%;
	color:#FFFFFF;
	font-size:17px;
}

.webservice1{
	width:42%;
	font-family:Georgia;
	float:left;
	margin-left:12%;
	text-align:right;
	color:#FFFFFF;
	margin-top:8%;
	font-size:17px;
}

.johnnathan{
	width:950px;
	background-image:url(../img/nohnenathan.png);
	background-repeat:no-repeat;
	height:101px;
	float:left;
	text-align:center;
	margin-top:5%;
	font-family:Gabriola;
	padding-top:15px;
	font-style:italic;
	color:#FFF;
	font-size:32px;
	margin-right:25px;
	margin-left:8px;
}


#portfolibase{
	width:100%;
	height:256px;
	background-image:url(../img/aboutbasae.jpg);
	background-repeat:repeat-x;
	
}

#articlportfol{
	width:100%;
	height:1454px;
	background-image:url(../img/portfoliobase.jpg);
	background-repeat:repeat-x;
	margin:0px auto;
}


.portfoliocaetroeis{
	width:100%;
	text-align:center;
	margin:0px auto;
	position:absolute;
	margin-top:-3%;
	height:100px;
}

.portfoliocaetroeismainwith{
	max-width:1008px;
	margin:0px auto;
	padding-top:15px;
	
}

.portfoliocaetroeismainwith li{
	list-style:none;
}


.portfoliocaetroeismainwith a{
	width:100%;
	height:210px;
	background-color:#5c5b5b;
	border-radius: 100%;
	box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.3);
	color:#FFF;
	padding:37px 20px 28px 20px;

}


.portfoliocaetroeismainwith a:hover{
	width:110px;
	height:210px;
	background:#997426;
	border-radius: 100%;
	box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.3);
}



.portfolioicons{
	position:absolute;
	border-radius: 100px;
	margin-top:15px;
	font-family:MoolBoran;
	font-size:35px;
	color:#FFFFFF;
	margin-left:50px;
	
}

.portfolioicons1{
	position:absolute;
	border-radius: 100px;
	margin-top:15px;
	font-family:MoolBoran;
	font-size:35px;
	color:#FFFFFF;
	margin-left:200px;
}

.portfolioicons2{
	position:absolute;
	border-radius: 100px;
	margin-top:15px;
	font-family:MoolBoran;
	font-size:35px;
	color:#FFFFFF;
	margin-left:350px;
}

.portfolioicons3{
	position:absolute;
	border-radius: 100px;
	margin-top:15px;
	font-family:MoolBoran;
	font-size:35px;
	color:#FFFFFF;
	margin-left:500px;
}

.portfolioicons4{
	position:absolute;
	border-radius: 100px;
	margin-top:15px;
	font-family:MoolBoran;
	font-size:35px;
	color:#FFFFFF;
	margin-left:650px;
}

.portfolioicons5{
	position:absolute;
	border-radius: 100px;
	margin-top:15px;
	font-family:MoolBoran;
	font-size:35px;
	color:#FFFFFF;
	margin-left:800px;
}


#blogbase{
	width:100%;
	height:530px;
	background-image:url(../img/aboutbasae.jpg);
	background-repeat:repeat-x;
	
}


.skich{
	width:auto;
	height:auto;
	float:left;
	text-transform:uppercase;
	font-size:55px;
	color:#9b9b9b;
	font-family:"Accidental Presidency";
	padding-left:30px;
}

.date{
	width:auto;
	height:auto;
	float:left;
	margin-right:5px;
	text-transform:uppercase;
	font-size:55px;
	margin-left:45%;
	color:#9b9b9b;
	font-family:"Accidental Presidency";
}

.months{
	width:auto;
	float:left;
	text-transform:uppercase;
	font-size:20px;
	line-height:18px;
	color:#9b9b9b;
	padding-top:14px;
	font-family:"Accidental Presidency";
}

.textsummary{
	width:980px;
	float:left;
	margin-left:29px;
	font-family:Californian FB;
	font-size:18px;
	text-align:justify;
	height:auto;
	padding-top:10px;
	color:#7e7e7e;
}

.textsummary a:link{
	font-style:italic;
	font-family:Californian FB;
	font-size:18px;
}

.textsummary a{
	color:#000;
}

.textsummary a:hover{
	color:#8c411c;
	text-decoration:underline;
}


.productandnew{
	width:980px;
	float:left;
	height:auto;
	margin-left:3%;
	margin-top:40px;
}
.newproducticons{
	width:auto;
	margin-left:1%;
	float:left;
}

.newproducticonstext{
	width:auto;
	padding-top:3px;
	color:#8c411c;
	font-size:17px;
	margin-left:1%;
	float:left;
}

.newproducticonstext a{
	color:#000;
	}


.newproducticonstext a:hover{
	color:#8c411c;
	text-decoration:underline;
}

.commnenticons{
	width:auto;
	margin-left:8%;
	float:left;
}


.hrblog{
	background-image:url(../img/whtiepadding.png);
	width:1px;
	height:2px;
	background-repeat:repeat-x;
	width:100%;
	text-align:center;
	float:left;
	margin-top:5%;
	max-width:1000px;
}

.olderposticons{
	width:100%;
	text-align:center;
	margin:0px auto;
	position:absolute;
}

.date1{
	width:auto;
	height:auto;
	float:left;
	margin-right:5px;
	text-transform:uppercase;
	font-size:45px;
	color:#9b9b9b;
	padding-top:12px;
	font-family:"Accidental Presidency";
}

.months1{
	width:auto;
	float:left;
	text-transform:uppercase;
	font-size:19px;
	line-height:15px;
	color:#9b9b9b;
	padding-top:25px;
	padding-right:8px;
	font-family:"Accidental Presidency";
}

.date2{
	width:auto;
	height:auto;
	float:left;
	padding-left:15%;
	margin-left:10%;
	text-transform:uppercase;
	font-size:45px;
	color:#9b9b9b;
	padding-top:12px;
	font-family:"Accidental Presidency";
}

.months2{
	width:auto;
	float:left;
	text-transform:uppercase;
	font-size:19px;
	line-height:15px;
	color:#9b9b9b;
	padding-top:25px;
	text-align:left;
	padding-right:8px;
	padding-left:5px;
	font-family:"Accidental Presidency";
}


.hrolderblog{
	background-image:url(../img/padding.png);
	width:1px;
	height:2px;
	background-repeat:repeat-x;
	width:100%;
	text-align:center;
	float:left;
	margin-top:5%;
	max-width:970px;
}

.contitutneread{
	font-style:italic;
	color:#666;
	padding-top:5px;
}

.contitutneread a{
	color:#999;
}

.contitutneread a:hover{
	color:#f8a80b;
	text-decoration:underline;
}





.graynewproducticons{
	width:auto;
	margin-left:1%;
	float:left;
}

.graynewproducticonstext{
	width:auto;
	padding-top:3px;
	color:#8c411c;
	font-size:17px;
	margin-left:1%;
	float:left;
}

.graynewproducticonstext a{
	color:#999;
	}


.graynewproducticonstext a:hover{
	color:#f8a80b;
	text-decoration:underline;
}

.commnenticons{
	width:auto;
	margin-left:8%;
	float:left;
}

.recentpost{
	width:auto;
	float:left;
	text-transform:uppercase;
	color:#969696;
	font-family:Californian FB;
	font-size:16px;
	padding-top:16px;
}

.hrolderblogbuttom{
	background-image:url(../img/padding.png);
	width:1px;
	height:2px;
	background-repeat:repeat-x;
	width:100%;
	text-align:center;
	float:left;
	margin-top:2%;
	max-width:970px;
}

.categories{
	width:auto;
	float:left;
	text-transform:uppercase;
	color:#969696;
	font-family:Californian FB;
	font-size:16px;
	margin-left:247px;
	padding-top:16px;
}

.archive{
	width:auto;
	float:left;
	text-transform:uppercase;
	color:#969696;
	font-family:Californian FB;
	font-size:16px;
	padding-top:16px;
	margin-left:256px;
}

.recentpostlist{
	width:26%;
	float:left;
	color:#969696;
	font-family:Californian FB;
	font-size:17px;
	padding-top:15px;
}

.recentpostlist a{
	color:#999;
}

.recentpostlist a:hover{
	color:#f8a80b;
}



.categoriespsottlist a{
	color:#999;
}

.categoriespsottlist a:hover{
	color:#f8a80b;
}



.recentpostlistline{
	background-image:url(../img/padding.png);
	width:1px;
	height:2px;
	background-repeat:repeat-x;
	width:100%;
	text-align:center;
	float:left;
	margin-top:5%;
}

.recentpostlistline1{
	background-image:url(../img/padding.png);
	width:1px;
	height:2px;
	background-repeat:repeat-x;
	width:100%;
	text-align:center;
	float:left;
	margin-top:8%;
}


.categoriespsottlist{
	width:26%;
	float:left;
	margin-left:9%;
	color:#969696;
	font-family:Californian FB;
	font-size:17px;
	padding-top:15px;
}


.archivepsottlist{
	width:26%;
	float:left;
	margin-left:9%;
	color:#969696;
	font-family:Californian FB;
	font-size:17px;
	padding-top:15px;
}

.archivepsottlist a{
	color:#999;
}

.archivepsottlist a:hover{
	color:#f8a80b;
}

#articleblog {
	width:100%;
	height:945px;
	background-image:url(../img/blogbackground.jpg);
	background-repeat:repeat-x;
	margin:0px auto;
}

#articlecontact {
	width:100%;
	height:1123px;
	background-image:url(../img/contactbackground.jpg);
	background-repeat:repeat-x;
	margin:0px auto;
}
